.descriptionCard {
  display: table-column;
}

.topStyle {
  padding-top: 1%;
  padding-bottom: 2%;
}

.paddingTop {
    padding-top: 1%;
}


.background{
  background-color: grey;
  height: fill-available;
}

.mat-card {
    width: calc(100%);
    height: calc(100%);
  }


  .container{
      min-height: 80vh;
  }
