
<div class="col-md-12 topStyle background">
    <div class="row">
        <div class="col-md-6 ">
            <div class="row paddingTop" *ngFor="let item of etudes |async">
                <div id="bac" class="offset-md-2 col-md-10">
                    <mat-card onmouseover="this.style.background = '#AAAAAA'" onmouseout="this.style.background = '#FFFFFF'" (click)="selectionCard(item)">
                        <mat-card-header>
                            <mat-card-title>
                                <strong>{{item.nomFormation}}</strong>
                            </mat-card-title>
                            <br>
                            <mat-card-subtitle>
                                <strong>{{item.dateDebut}} - {{item.dateFin}}</strong>
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                {{item.description}}
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="row container">
                <div id="bac" class="offset-md-1 col-md-10 flex">
                    <mat-card style="position: relative">
                        <mat-card-header>
                            <mat-card-title>
                                <strong>Choose something</strong>
                            </mat-card-title>
                            <br>
                            <mat-card-subtitle>
                                <strong>Details</strong>
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p *ngIf="video !== null">
                                <iframe width="560" height="315" [src]="video" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>

