.descriptionCard {
  display: table-column;
}

.topStyle {
  padding-top: 1%;
  padding-bottom: 2%;
  position: absolute;
}

.paddingTop {
    padding-top: 1%;
}


.background{
  background-color: grey;
  background-position: top center;
  width: 100%;
  height: auto;
  position: fixed;
}

.mat-card {
    width: calc(100%);
    height: calc(100%);
  }


  .container{
      min-height: 80vh;
  }
