<div class="col-md-12  " style="padding-top: 2%; padding-bottom: 2%">
    <div class="row">
        <div class="col-md-6 ">
            <div class="row">
                <div id="bac" class="offset-md-2 col-md-10">
                    <mat-card onmouseover="this.style.background = '#AAAAAA'" onmouseout="this.style.background = '#FFFFFF'">
                        <mat-card-header>
                            <mat-card-title><strong>Baccalauréat Science de la Technologie de Laboratoire</strong></mat-card-title><br>
                            <mat-card-subtitle><strong>2008 - 2010</strong></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                Baccalauréat STL (Sciences Techniques de Laboratoire)<br> au Lycée Robert Schuman au Havre.
                                (EXPLAIN)
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="row" style="padding-top: 1%">
                <div class="offset-md-2 col-md-10">
                    <mat-card onmouseover="this.style.background = '#AAAAAA'" onmouseout="this.style.background = '#FFFFFF'">
                        <mat-card-header>
                            <mat-card-title><strong>DUPRES</strong></mat-card-title><br>
                            <mat-card-subtitle><strong>2010 - 2011</strong></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                DUPRES (Diplôme d'Université de Préparation aux Études Scientifiques). (EXPLAIN)
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="row" style="padding-top: 1%">
                <div class="offset-md-2 col-md-10">
                    <mat-card onmouseover="this.style.background = '#AAAAAA'" onmouseout="this.style.background = '#FFFFFF'">
                        <mat-card-header>
                            <mat-card-title><strong>DUT Informatique</strong></mat-card-title><br>
                            <mat-card-subtitle><strong>2011 - 2013</strong></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                DUT Informatique à l'Université du Havre. (EXPLAIN)
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="row" style="padding-top: 1%">
                <div class="offset-md-2 col-md-10">
                    <mat-card onmouseover="this.style.background = '#AAAAAA'" onmouseout="this.style.background = '#FFFFFF'">
                        <mat-card-header>
                            <mat-card-title><strong>Licence 3 informatique & Bachelor</strong></mat-card-title><br>
                            <mat-card-subtitle><strong>2013 - 2014</strong></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                Pour ma 3eme de Licence j'ai participé au Programme ERASMUS. J'ai donc suivi la formation des étudiant Irlandais à Carlow
                                et ai passé le diplome " Bachelor of Science Software, Engineering".
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="row" style="padding-top: 1%">
                <div class="offset-md-2 col-md-10">
                    <mat-card onmouseover="this.style.background = '#AAAAAA'" onmouseout="this.style.background = '#FFFFFF'">
                        <mat-card-header>
                            <mat-card-title><strong>Master Informatique</strong></mat-card-title><br>
                            <mat-card-subtitle><strong>2014 - 2017</strong></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                Master Informatique effectué à l'université de Rennes. En seconde année de Master j'ai choisi l'option MITIC; Méthode Informatiques
                                et Technologies de l'Information et de la Communication.
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div id="bac" class="offset-md-1 col-md-10">
                    <mat-card style="height: 580%; position: relative">
                        <mat-card-header>
                            <mat-card-title><strong>Choose something</strong></mat-card-title><br>
                            <mat-card-subtitle><strong>Details</strong></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                choose choose
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>