<div class="col-md-12">
    <div *ngIf="chargement" class="row col-md-4 offset-md-4 chargement">
        <img src="../../assets/images/loader_lunettes.gif" />
    </div>
    <div *ngIf="!chargement">
        <div class="row bottomStyle">
            <div class="offset-md-11 topStyle">
                <button *ngIf="!authentifie" class="rgbBlue" mat-fab (click)="login()">
                    <i class="fa fa-user"></i>
                </button>
                <button *ngIf="authentifie"  class="rgbRed" mat-fab (click)="logout()">
                        <i class="fa fa-user"></i>
                </button>
                <button mat-fab [hidden]="!authentifie" class="rgbBlue" [disabled]="!authentifie" (click)="ajouterArticle()">
                        <i class="fa fa-plus-square"></i>
                </button>
            </div>
            <div class="offset-md-2 col-md-8">
                <mat-grid-list cols="2" rowHeight="3:2" gutterSize="5%">
                    <div *ngFor="let item of photoListe">
                        <mat-grid-tile title="{{item.titre}}" (click)="goToDetailArticle(item)" class="onHover">
                            <img [src]="item.photo" class="redimmensionner" />
                            <mat-grid-tile-footer class="cache">
                                <h6>{{item.lieu }} </h6>
                                <br>
                                <a *ngIf="item.date">{{item.date | date: ", dd/MM/yyyy"}}</a>
                            </mat-grid-tile-footer>
                        </mat-grid-tile>
                    </div>
                </mat-grid-list>
            </div>
        </div>
        <app-footer class="background positionFixed"></app-footer>
    </div>
</div>
