.descriptionCard {
  display: table-column;
}

.topStyle {
  padding-top: 5%;
}


.background{
  background-color: white;
}

.mat-grid-tile {
  background: lightblue;
}

.mat-grid-tile:hover {
  cursor: pointer;
}