.descriptionCard {
  display: table-column;
}

.topStyle {
  padding-top: 5%;
}


.background{
  background-color: white;
}

.mat-grid-tile {
  background: lightblue;
}

.mat-grid-tile:hover {
  cursor: pointer;
}

.onHover:hover .cache{
  opacity: 1;
  transition: all 0.3s linear;
  visibility: visible;
}

.cache{
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
  word-wrap: break-word;
}