.descriptionCard {
  display: table-column;
}

.topStyle {
  padding-top: 1%;
}

.bottomStyle {
    padding-bottom: 5%;
}


.background{
  background-color: white;
}

.rgbBlue {
    background-color: rgb(135, 206, 250);
}

.rgbRed {
    background-color: rgb(255, 0, 0);
}

.mat-grid-tile {
  /* background: lightblue; */
}

.mat-grid-tile:hover {
  cursor: pointer;
}

.onHover:hover .cache{
  opacity: 1;
  transition: all 0.3s linear;
  visibility: visible;
  cursor: pointer;
}

.cache{
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
  word-wrap: break-word;
}

.imageStyle{
    cursor: pointer;
}

.redimmensionner{
    height: 110%;
    width: 115% ;
}


.chargement{
    padding-top: 5%;
}

.paddingBott{
    padding-bottom: 5%;
    margin-right: 5%;
}

.positionFixed{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.height{
    height: 5%;
}

.down{
    position: absolute;
    bottom: 0;
}

