.hauteur{
    height: 50px;
}

.paddingText {
    padding-top: 2%;
}

.iconeRedimenssion {
    height: 90% !important;
    margin-top: 4% !important;
    cursor: pointer !important;
}

.right{
    margin-left: 69%;
    text-align: right;
}

.paddingTop{
    padding-top: 1%;
}
