.position {
    height: 40px;
    padding-left: 0.1%;
}

.paddingCinq {
    padding-top: 5%;
}

.iconeRedimenssion {
    height: 90% !important;
    margin-top: 4% !important;
    cursor: pointer !important;
}

.right {
    margin-left: auto;
    padding-right: 2%;
}

.clickable :hover {
    cursor: pointer;
}

.backGroundColor {
    background-color: #0f1626;
}

.white {
    color: white;
}

.hauteurParties {
    max-height: 100px;
}

.hauteur {
    height: 80px;
}

.paddingTopDeux {
    padding-top: 1%;
}

.positionBottom {
    bottom: 0;
    position: absolute;
}

.paddingLeft {
    padding-left: 15%;
}

.mat-input-container {
    width: 50%;
}

::ng-deep .mat-select-value .mat-select-value-text {
    color: white;
}

::ng-deep .mat-select-arrow-wrapper .mat-select-arrow {
    color: white !important;
}

::ng-deep .mat-form-field-underline {
    background-color: white;
}

::ng-deep .mat-form-field-ripple {
    background-color: white;
}

.styleButton {
    background-color: #ab987a;
    padding-top: 1%;
}


.paddingSocial{
    padding-right: 5%;
}

.paddingTop{
    padding-top: 4%
}

.padding-bottom{
    padding-bottom: 1%;
}


