.hauteur{
    height: 40px;
}

.paddingText {
    padding-top: 2%;
}

.iconeRedimenssion {
    height: 90% !important;
    margin-top: 4% !important;
    cursor: pointer !important;
}

.right{
    margin-left: auto;
}

.paddingTop{
    padding-top: 1%;
}

