<div class="row hauteurParties hauteur  eggshell">

    <div class="col-md-4 paddingTop ">
        Site réalisé par Ervan Renault. Tous droits réservés... ou un truc du genre.
    </div>
    <div class="offset-md-7 right">
        <a target="_blank" href="https://fr.linkedin.com/in/ervan-renault-6011b751"><img title="LinkedIn" src="../../assets/images/linkedin.png"  class="iconeRedimenssion"></a>
        <a target="_blank" href="https://www.facebook.com/ErvanRenault"><img title="Facebook" src="../../assets/images/facebook.png"  class="iconeRedimenssion"></a>

    </div>
</div>
