<div class="row backGroundColor  hauteur position paddingTop">
    <div class="col-md-7 paddingDeux">
        <i class="white">Site réalisé par Ervan Renault.</i>
    </div>
    <div class="offset-md-3 col-md-2 paddingDeux">
            <i class="white">Contact :</i>
            <a class="afficherCurseur">
                <i class="fa fa-facebook-f white"></i>
            </a>
            <a class="afficherCurseur">
                <i class="fa fa-instagram white"></i>
            </a>
            <a class="afficherCurseur">
                <i class="fa fa-twitter white"></i>
            </a>
            <a class="afficherCurseur">
                <i class="fa fa-envelope white"></i>
            </a>
        </div>
</div>