<div class="col-md-12">
    <form [formGroup]="formulaireAjoutArticle">
        <div class="row">
            <div class="col-md-4">
                <mat-form-field>
                    <input matInput formControlName="titre" placeholder="Titre">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <input matInput formControlName="date" [matDatepicker]="picker" placeholder="Date de la photo">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input matInput formControlName="lieu" placeholder="Lieu">
                </mat-form-field>
            </div>
            <div class="col-md-1">
                <button mat-fab (click)="upload()" [disabled]="formulaireAjoutArticle.invalid || !image64"><mat-icon>save</mat-icon></button>
            </div>
        </div>
        <div class="row espaceTop">
            <div class="col-md-1 ">
                <button mat-button type="button" onclick="document.getElementById('fichier')">
                    <label for="fichier">
                        <mat-icon>attach_file</mat-icon>
                    </label>
                </button>
                <input id="fichier" (change)="getFile($event)" type="file" style="display:none;">
            </div>
            <div class="col-md-4">
                <mat-grid-list *ngIf="photoSelectionnee" cols="1" rowHeight="1:1">
                    <mat-grid-tile>
                        <img [src]="image64" class="redimmensionner">
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <div class="col-md-7">
                <mat-form-field style="width: 100%">
                    <textarea matInput maxRows="10" formControlName="description" placeholder="Description"></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
