<div class="row col-md-12">
    <!-- <form [formGroup]="form" (ngSubmit)="valider()">
      <div class="row">
          <mat-form-field class="fullwidth">
              <input matInput formControlName="email" placeholder="Adresse email">
          </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field class="fullwidth">
              <input matInput formControlName="mdp" type="password" placeholder="Mot de passe">
          </mat-form-field>
      </div>
      <div class="row">
              <button class="position" mat-button [disabled]="!form.get('email').value || !form.get('email').value">Valider</button>
      </div>
  </form> -->
    <button *ngIf="!authentifie" class="rgbBlue" mat-fab (click)="login()">
        <i class="fa fa-user"></i>
    </button>
</div>