.rond {
    border-radius: 50%;
    max-width: 80%;
    max-height: 100%;
}

.carre {
    max-width: 70%;
    max-height: 70%;
}

.positionProfil{
    padding-top: 1%;
    padding-bottom:  1%;
    text-align: center;
}

.hauteur{
    height: 200px;
}

.paddingText {
    padding-top: 2%;
}
