<div class="p-0 m-0" style="height: 100%;">
    <div class="row col-12 p-0 m-0 height100Percent" style="width: 100%">
        <div style="width: 50%; height: 100%;">
            <button mat-button class="buttonMenu eggshell height100Percent" [routerLink]="['/home']">Ervan Renault</button>
        </div>
        <div style="width: 25%; height: 100%;">
            <button mat-button class="leather buttonMenu height100Percent" [routerLink]="['/blog-voyage']">Blog</button>
        </div>
        <div style="width: 25%; height: 100%;"> 
            <button mat-button class="navyBlue buttonMenu height100Percent" [routerLink]="['/cv']">
                <span class="fontWhite">CV</span>
            </button>
        </div>
    </div>
</div>