
<div class="row height100Percent">
    <div class="col-6 p-0">
        <button mat-button class="buttonMenu eggshell height100Percent" [routerLink]="['/home']">Ervan Renault</button>
    </div>
    <div class="col-3 p-0">
        <button mat-button class="leather buttonMenu height100Percent" [routerLink]="['/blog-voyage']">Blog</button>
    </div>
    <div class="col-3 p-0"> 
        <button mat-button class="navyBlue buttonMenu height100Percent" [routerLink]="['/cv']">
            <span class="fontWhite">CV</span>
        </button>
    </div>
</div>