<div class="col-md-12 eggshell">
    <div class="row">
        <img [src]="article.photo" class="formatEcran" />
    </div>
    <div class="row paddingtop center">
        <div class="col-md-12">
            <h2>{{article.titre}}, {{article.lieu}} le {{article.date | date: 'dd/MM/yyyy'}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-2 col-md-8">
            <hr style="border: 0.5px solid#7c7b7b;" />
        </div>
    </div>
    <div class="row paddingtop">
        <div class="col-md-1 positionBoutonRetour">
            <button mat-fab color="#7c7b7b" (click)="retour()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <div class="col-md-10 justifier">
            <font size="4">{{article.description}}</font>
        </div>
        <div class="col-md-1">
            <button mat-button (click)="supprimerArticle(article.id)">
                <mat-icon class="redimmensionner">add_box</mat-icon>
            </button>
        </div>
    </div>
</div>
<app-footer></app-footer>