.formatEcran {
    width: 100%;
    height: 100%;
}

.positionBoutonRetour{
    padding-top: 5%;
    padding-left: 3%;
}

.justifier{
    text-align: justify;
}

.rgbBlue {
    background-color: rgb(135, 206, 250);
}

.rgbRed {
    background-color: rgb(255, 0, 0);
}

.paddingHeight{
    padding-top: 1%;
    padding-bottom: 1%;
}

