.resize {
    max-width: 100px;
    max-height: 100px;
    border-radius: 70%;
}

.resizeOnly {
    max-width: 100px;
}

.resizeBigger{
    max-width: 200px;
    max-height: 200px;
}

.espaceTop{
    padding-top: 30%;
}

.espaceRow {
    padding-top: 4%;
    padding-bottom: 1%;
}

.pointeur{
    cursor: pointer;
}

.passage:hover{
    border-radius: 20%;
    background-color: grey;
}

.header-image {
    background-image: url('../../../assets/images/capge.png');
    background-size: cover;
  }

  .enCoursEnTete{
    padding-left: 45%;
    padding-top: 30%;
  }

  .enCoursContenu{
    padding-left: 20%;
  }

  .paddingBot{
      padding-bottom: 1%;
  }
