<div class="col-md-12">
  <div class="row paddingtop">
    <div class="offset-md-4">
      <a (click)="clickImage('macdo')" ><img class="resize" src="../../../assets/images/logo-macdonald.jpg"/></a>
    </div>
    <div class="offset-md-3">
        <a (click)="clickImage('macdo')" ><img class="resizeBigger" src="../../../assets/images/gaumont.jpg"/></a>
      </div>
  </div>
  <div class="row">
        <div class="offset-md-2">
                <a (click)="clickImage('macdo')" ><img class="resize" src="../../../assets/images/weenjoy.jpg"/></a>
              </div>
    <div class="offset-md-5">
      <a (click)="clickImage('capgemini')" ><img class="resize" src="../../../assets/images/capge.png"/></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <a (click)="clickImage('kusmitea')" ><img class="resizeOnly" src="../../../assets/images/kusmitea.png"/></a>
    </div>
    <div class="offset-md-5 col-md-1">
        <a (click)="clickImage('bolorre')" ><img class="resizeOnly" src="../../../assets/images/bolorre.png"/></a>
      </div>
  </div>
  <div class="row">
        <div class="offset-md-9 col-md-1">
            <a (click)="clickImage('palme')" ><img class="resizeOnly" src="../../../assets/images/palme.jpg"/></a>
        </div>
  </div>
  <div class="row">
        <div class="offset-md-11 col-md-1">
                <button mat-fab color="#0F1626" class="resizeOnly">+</button>
            </div>
  </div>
</div>