*[parallax] {
    height: 600px;

    background-size: 100%;
}

:host {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

#exemple {
    background-image: url('../../../assets/images/australie.jpg');
}

.positionTimer{
    padding-top: 18%;
    padding-left: 75%;
}
