.descriptionCard {
  display: table-column;
}

.topStyle {
  padding-top: 1%;
  padding-bottom: 2%;
  position: absolute;
}

.paddingTop {
    padding-top: 1%;
}


.padding{
    padding-top: 1%;
    padding-bottom: 1%;
}

.background{
  background-color: grey;
  background-size: auto 100%;
}

.mat-card {
    width: calc(100%);
    height: calc(100%);
  }


  .container{
      min-height: 120vh;
  }

  .center{
      text-align: center;
  }

  .fontCouleur{
      background-color: #AAAAAA;
  }

  .pointeur{
    cursor: pointer;
}

.over:hover{
    background-color: grey;
}

.justifier{
    text-align: justify;
}

.maxSize{
    width: 100%;
}
