/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-lime, 500);
$accent:  mat-palette($mat-lime, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);



.navyBlue {
  background-color: #0F1626;
}

.navyBluePolice {
  color: #0F1626;
}

.eggshell{
  background-color: #F5F5F5;
}

.eggshellPolice{
  color: #F5F5F5;
}

.leather{
  background-color: #AB987A;
}

.coral{
  background-color: #ec9f0d;
}

.police{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.fontWhite {
  color: white;
}

.noPadding{
  padding: 0;
margin: 0;
}

md-tab-group {
    background-color: #0f1626;
}


.mat-tab-label {
    width: 100%;
}


.mat-tab-label.mat-tab-label-active{
    background-color:  #0f1626!important;
    color: #F5F5F5!important;
}

.mat-ink-bar {
    background-color: #ec9f0d!important;
}

.back{
    width: -webkit-fill-available;
}



