/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import '../node_modules/font-awesome/css/font-awesome.css';

@include mat-core();

$primary: mat-palette($mat-lime, 500);
$accent: mat-palette($mat-lime, 500, A200, A400);
$warn: mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);


.navyBlue {
    background-color: #0f1626;
}

.navyBluePolice {
    color: #0f1626;
}

.eggshell {
    background-color: #f5f5f5;
}

.eggshellPolice {
    color: #f5f5f5;
}

.leather {
    background-color: #ab987a;
}

.coral {
    background-color: #ec9f0d;
}

.police {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fontWhite {
    color: white;
}

.noPadding {
    padding: 0;
    margin: 0;
}

.md-tab-group {
    background-color: #0f1626;
}

.mat-tab-label {
    width: 100%;
}

.mat-tab-label.mat-tab-label-active {
    background-color: #0f1626 !important;
    color: #f5f5f5 !important;
}

.mat-ink-bar .mat-input-underline .mat-form-field-underline {
    background-color: #ff0000 !important;
}

.mat-tab-label-active {
    background-color: #0f1626 !important;
    color: #0f1626;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
    color: #0f1626;
}

.back {
    width: stretch;
}

.scroll {
    overflow: auto;
}

.paddingtop {
    padding-top: 1%;
}

.paddingLoader {
    top: 25%;
    position: absolute;
}

.maxSize{
    max-width: 100%;
}

.afficherCurseur :hover {
    cursor: pointer;
}

.center {
    text-align: center;
}
