.position{
  padding-top: 20%;
  padding-left: 40%
}

.position-bouton{
  padding-right: 10%;
}

.bg{
  width: 100%;
  height: -webkit-fill-available;
  position: fixed;
  background: url('../../assets/images/hogwarts_wallpapers.jpg') no-repeat center;
  background-position: top center;
}

.hauteurParties{
  max-height: 100px;
}
